
@page
@model ProjectTemplate.View.Pages.PageHome.ListarTatuadoresModel

@{
    ViewData["Title"] = "Listar Tatuadores";
    Layout = "/Pages/Shared/_LayoutCliente.cshtml";
}

<link href="~/assets/css/navdark.css" rel="stylesheet">
<link href="~/assets/css/selecionar.css" rel="stylesheet">
<link href="~/assets/css/estados.css" rel="stylesheet">

<style>
    p {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<div class="bg-white container my-10">

    <div class="estados">
        <div class="div-tags">
            <ul class="ul-tags">
                <li class="li-tags-1">
                    <h2 class="h2-tags-1 pt-2">MG</h2>
                </li>
                <li class="li-tags-2">
                    >
                </li>
                <li class="li-tags-3">
                    <h2 class="h2-tags-3 pt-2">
                        <a href="/Estudio_Tatuador/ListarTatuadores">
                            Tatuadores em Belo Horizonte e Região
                        </a>
                    </h2>
                </li>
                <li class="escolher-estado">Tatuadores em Belo Horizonte e região</li>
            </ul>
        </div>
        <div class="div-listaestados">
            <div class="div-estados">

                @foreach (var item in Model.Bairros)
                {
                    <ul class="ul-estados">
                        <li class="li-estados">
                            <a data-lurker-detail="linkshelf_item" data-lurker_state="25"
                               asp-area="" asp-controller="Estudio_Tatuador" asp-action="ListarTatuadores" asp-route-id="@item"
                               class="a-estados">
                                @item
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <br />


    <div class="card-columns">

        @foreach (var item in Model.Tatuadores)
        {
            @if (item != null)
            {
                <a asp-page-handler="PortifolioTatuador" asp-route-id="@item.NomeDeUsuario">
                    <div class="card">

                        @if (System.IO.File.Exists(@"wwwroot/images/tatuador/fotoTatuador/" + @item.IdTatuador + ".jpg"))
                        {
                            <img class="card-img-top" src="@("~/images/tatuador/fotoTatuador/" + item.IdTatuador + ".jpg")" alt="Card image cap"
                                 asp-append-version="true">
                        }
                        else
                        {
                            <img class="card-img-top" src="/images/icone-perfil.jpg" alt="Card image cap">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.PrimeiroNome)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.TextoBibliografico)</p>
                        </div>
                    </div>
                </a>
            }

        }
    </div>
</div>
